
.b-bidding-sequence {
  margin: 10px;
  border: 1px solid #555;
  padding: 0;
  padding-top: 5px;
  display: inline-block;
  line-height: 15px;
  background: whitesmoke;
  vertical-align: top;
  font-size: 15pt;
}

td {
  padding: 7px;
}
