<div class="wrapper">
  <div class="item">
    Bid:
  </div>
  <div><input [(ngModel)]="data.bid" size="10" [disabled]="viewOnly"/></div>
  <div class="item">
    Condition:
  </div>
  <div><input [(ngModel)]="data.condition" size="60"  [disabled]="viewOnly"/></div>
  <div class="item">
    Description:
  </div>
  <div><input [(ngModel)]="data.description" size="60"  [disabled]="viewOnly"/></div>
  <div class="item">
    Opp's Bidding:
  </div>
  <div><input type=checkbox [(ngModel)]="data.oppsBid" size="50"  [disabled]="viewOnly"/>

<!--    <span (click)="showLinkedDetails()">Linked bids</span>-->


  </div>
  <div>

  </div>
</div>


<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button *ngIf="!viewOnly" mat-button [mat-dialog-close]="data" >Ok</button>
  <button *ngIf="!viewOnly" mat-button [mat-dialog-close]="data" (click)="data.linkableNode=true">Make Node Linkable
    <mat-icon aria-hidden="false" aria-label="Example home icon">add_link</mat-icon>
  </button>
</div>

