.black {
  color:rgb(3, 3, 43);
}

.club {
  color: blue;
}

.spade {
  color:darkblue;
}

.heart {
  color: red;
}

.diamond {
  color: deeppink;
}


.nobid {
  color: whitesmoke;
}

.opening {
  color: dimgray;
}
