
.biddingPanel {
  //background: rgb(230,230,230);

  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,96,0,1) 0%, rgba(9,121,9,1) 35%, rgba(0,212,155,1) 100%);
  //background-color: rgba(0,99,121,0.95);
  //background-image: url("./../../assets/background.png");
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.topline {
  display:grid;
  grid-template-columns: 1fr auto;
}
