
.biddingPanel {
  //background: rgb(230,230,230);

  background: rgb(2,0,36);
  background: linear-gradient(110deg, rgba(2,200,0,1) 0%, rgba(9,181,9,1) 20%, rgba(100,230,200,1) 100%);
  //background-color: rgba(0,99,121,0.95);
  //background-image: url("./../../assets/background.png");
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.topline {
  display:grid;
  grid-template-columns: 1fr auto;
}


.opp {
  background: #ffe480;
}

.con {
  //background: green;
  //color: white;
  margin: 5px;
  font-size: 13pt;
}

.desc {
  background: blue;
  color: white;
  margin: 3px;
}


.mat-icon {
  font-size: 25px;  // only in this component
}

.pointer {
  cursor: pointer;
}
