<mat-toolbar>
  <div class="icon">
    &ensp;
  </div>
  <span class="m4"> </span>
  <span>Bridge Explorer</span>
  <span class="m4"> </span>

  <span class="ic" (click)="bidding()">	<mat-icon> inventory</mat-icon></span>


  <mat-icon [matMenuTriggerFor]="entries" class="pointer">menu</mat-icon>

  <span class="example-spacer"></span>
  <span class="ic" (click)="configuration=true">	<mat-icon> house</mat-icon></span>


  <mat-menu #entries="matMenu">
    <button mat-menu-item routerLink="biddingsystem">
      System
    </button>
    <button mat-menu-item routerLink="dealview">
      Dealer
    </button>
    <button mat-menu-item routerLink="lin">
      Lin-Files
    </button>
    <button mat-menu-item routerLink="edit">
      edit (TBD)
    </button>
    <button mat-menu-item routerLink="bborecords">
      BBO Records
    </button>
  </mat-menu>


</mat-toolbar>

<div class="line"></div>
<div class="main">
  <div  [ngClass]="{'visable': biddingSystem, 'nonvisable' : !biddingSystem }">
    <app-bidding-system-panel></app-bidding-system-panel>
  </div>
  <div  [ngClass]="{'visable': configuration, 'nonvisable' : !configuration }">
    <app-config-maintenance></app-config-maintenance>
  </div>
</div>
