.underlined {
  //color: darkred;
  //border: 2px solid red;
  font-weight: bold;
  box-shadow: 0 5px 0px -1px black;
}

.opp {
  background: #ffe480;
}
.pointer {
  cursor: pointer;
}

.b-bidding-sequence {
  margin: 10px;
  border: 1px solid #555;
  padding: 0;
  padding-top: 5px;
  display: inline-block;
  line-height: 15px;
  background: whitesmoke;
}
