<td *ngIf="newNode" style="float:right">
  <input [(ngModel)]="bnc.bnode.bid" size="2"/>
</td>
<td *ngIf="!newNode" (click)="selectBid(bnc)" class="min20 pointer"
    style="float:right; font-size: 13pt" >
  <span [ngClass]="{'opp': bnc.bnode.ob}">
  <app-strain-symbol *ngIf="!editable" [strain]="bnc.bid"></app-strain-symbol>
  <app-strain-symbol *ngIf="editable" [strain]="bnc.bnode.bid"></app-strain-symbol>
  </span>
</td>

<td *ngIf="normal">
  <div class="pointer">
    <mat-icon *ngIf="bnc.bnode.desc" matTooltip='{{bnc.bnode.desc}}' (click)="normal=false">info</mat-icon>
  </div>
</td>
<td *ngIf="normal && editable ">
  <input [(ngModel)]="bnc.bnode.con" size="50" (input)="checkCondition()"
         (keydown.enter)="addOdeleteBid(bnc.bnode)"
         [ngClass]="{'parsingNotOk': !okay}" [disabled]="false" matTooltip='{{parsingErrorText}}'/>
</td>
<td *ngIf="normal  && !editable">
  <input [(ngModel)]="bnc.contextualizedCondition" size="50" (input)="checkCondition()"
         [ngClass]="{'parsingNotOk': !okay, 'noninput': true}" [disabled]="true"/>

</td>

<td colspan="2" *ngIf="!normal">
  <input [(ngModel)]="bnc.bnode.desc" size="50">
  <div class="pointer">
    <mat-icon matTooltip='{{bnc.bnode.con}}' (click)="normal=true">build</mat-icon>
  </div>
</td>

<td>
  <span *ngIf="!newNode && editable" (click)="addOdeleteBid(bnc.bnode)" class="mat-cell">
    <!--      <i class="material-icons">-->
    <!--        delete-->
    <!--      </i>-->
    <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
  </span>
  <span *ngIf="newNode" (click)="addOdeleteBid(bnc.bnode)" class="mat-cell" tabindex="1" class="pointer">
    <i class="material-icons">
      add
    </i>
  </span>
</td>
