input:disabled {
  color: black;
}

.pointer {
  cursor: pointer;
}

.min20 {
  height:4px;
}
.opp {
  background: #ffe480;
}


//input{
//  width:100%;
//  //line-height:38px;
//  height:18px;
//  display:block;
//  text-align:center;
//}
