/* You can add global styles to this file, and also import other style files */

html, body {
  background:rgb(15,20,20);
  //background: rgb(40,40,40);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
color: black}

.mat-body {
  //height: 20px;
}

.mat-icon {
  transform: scale(1.0);
}

