<div class="lineheight10">

  <table>
    <thead>
    <tr>
      <td class="min20"></td>
    </tr>
    </thead>
    <tr *ngFor="let bnc of bncList" app-bid-item [bnc]="bnc" [subject]="subject" [editable]="editable"
        ($addOrDeleteNode)="addOrdeleteNode($event)">
    </tr>
<!--    <tr *ngIf="editable" app-bid-item [bnc]="newBnc" [subject]="subject" [editable]="editable"-->
<!--        ($addOrDeleteNode)="addOrdeleteNode($event)" [newNode]="true">-->
<!--    </tr>-->
    <a [routerLink]=""  (click)="getBncList2Levels()" matTooltip="show Bid Table">
      <mat-icon aria-hidden="false" aria-label="Example home icon">table_chart</mat-icon>
    </a>

    <tr *ngIf="linkedNodes.length >0" class="linkeNodes">
      <td> Linked</td>
      <td></td>
      <td><strong>{{bnc.bnode.linkedNode?.bid}}  </strong>

        <a [routerLink]="" (click)="materialize()" matTooltip="Materialize">
          <mat-icon aria-hidden="false" aria-label="Example home icon">content_copy</mat-icon>
        </a>

      </td>
      <td><a [routerLink]="" (click)="unlink()" matTooltip="Unlink">
        <mat-icon>link_off</mat-icon>
      </a>
      </td>
    </tr>
<!--    <tr *ngFor="let bnc of bncLinkedList" app-bid-item="bn" [bnc]="bnc" [subject]="subject" [editable]="false"-->
<!--        ($addOrDeleteNode)="addOrdeleteNode($event)" class="linkeNodes">-->
<!--    </tr>-->
  </table>
</div>
