.lineheight10 { //todo
    //line-height: 10px;
  border: 1px solid;
  //color: cornsilk;
}

table {  // wofür???
  border-collapse: collapse;
}


.opp {
  background: #ffe480;
}


.pointer {
  cursor: pointer;
}
